<footer class="relative block w-full bg-[#ff4d4d] text-white pt-16 pb-10 overflow-hidden">
            <div class="max-w-7xl mx-auto px-6">
                <div class="grid grid-cols-1 md:grid-cols-4 gap-y-12 gap-x-8 mb-20">
                    <div>
                        <h4 class="font-bold text-lg mb-6 border-b border-white/20 pb-2 md:border-none">Çözüm ve Hizmetler</h4>
                        <ul class="space-y-4 text-sm opacity-90">
                            <li><a href="#" class="hover:underline">Yazılım Geliştirme</a></li>
                            <li><a href="#" class="hover:underline">Outsourcing</a></li>
                            <li><a href="#" class="hover:underline">Kalite ve Süreç Yönetimi</a></li>
                            <li><a href="#" class="hover:underline">Danışmanlık</a></li>
                            <li><a href="#" class="hover:underline">IoT Destekli Çözümler</a></li>
                        </ul>
                    </div>

                    <div>
                        <h4 class="font-bold text-lg mb-6 border-b border-white/20 pb-2 md:border-none">Ürünler</h4>
                        <ul class="space-y-4 text-sm opacity-90">
                            <li><a href="#" class="hover:underline">Eğitim Yönetim Sistemi</a></li>
                            <li><a href="#" class="hover:underline">İnsan Kaynakları Yönetim Sistemi</a></li>
                            <li><a href="#" class="hover:underline">Müşteri İlişkileri Yönetim Sistemi</a></li>
                            <li><a href="#" class="hover:underline">İçerik Yönetim Sistemi</a></li>
                        </ul>
                    </div>

                    <div>
                        <h4 class="font-bold text-lg mb-6 border-b border-white/20 pb-2 md:border-none">Kurumsal</h4>
                        <ul class="space-y-4 text-sm opacity-90">
                            <li><a href="#" class="hover:underline">Hakkımızda</a></li>
                            <li><a href="#" class="hover:underline">Belge ve Sertifikalar</a></li>
                            <li><a href="#" class="hover:underline">İş Ortakları</a></li>
                        </ul>
                    </div>

                    <div>
                        <h4 class="font-bold text-lg mb-6 border-b border-white/20 pb-2 md:border-none">İletişim</h4>
                        <ul class="space-y-4 text-sm opacity-90">
                            <li><a href="#" class="hover:underline">Bilgi İstek Formu</a></li>
                            <li><a href="#" class="hover:underline">Uzman Talep Formu</a></li>
                        </ul>
                    </div>
                </div>

                <div class="items-start border-white/20 pt-10 flex flex-col md:flex-row justify-between items-center gap-6">
                    <div class="flex items-center gap-2 order-1 md:order-2">
                        <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M9 23.5C12.866 23.5 16 20.1421 16 16C16 11.8579 12.866 8.5 9 8.5C5.13401 8.5 2 11.8579 2 16C2 20.1421 5.13401 23.5 9 23.5Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M23 23C24.6569 23 26 19.866 26 16C26 12.134 24.6569 9 23 9C21.3431 9 20 12.134 20 16C20 19.866 21.3431 23 23 23Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M30 9V23" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                        <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M26 5H6C5.44772 5 5 5.44772 5 6V26C5 26.5523 5.44772 27 6 27H26C26.5523 27 27 26.5523 27 26V6C27 5.44772 26.5523 5 26 5Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M15 14V22" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M11 14V22" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M15 17.5C15 16.5717 15.3687 15.6815 16.0251 15.0251C16.6815 14.3687 17.5717 14 18.5 14C19.4283 14 20.3185 14.3687 20.9749 15.0251C21.6313 15.6815 22 16.5717 22 17.5V22" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M11 11.5C11.8284 11.5 12.5 10.8284 12.5 10C12.5 9.17157 11.8284 8.5 11 8.5C10.1716 8.5 9.5 9.17157 9.5 10C9.5 10.8284 10.1716 11.5 11 11.5Z" fill="white"/>
                        </svg>
                        <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M6 25C6 25 11 24 12 21C12 21 4 18 6 7C6 7 10 12 16 13V11.0004C16.0001 9.85156 16.3957 8.73783 17.1204 7.84641C17.845 6.95498 18.8545 6.34023 19.9791 6.10551C21.1036 5.87078 22.2747 6.0304 23.2954 6.55752C24.3162 7.08464 25.1243 7.94712 25.5839 8.99996L30 9L26 13C26 20 21 27 12 27C8 27 6 25 6 25Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                        <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M16 21C18.7614 21 21 18.7614 21 16C21 13.2386 18.7614 11 16 11C13.2386 11 11 13.2386 11 16C11 18.7614 13.2386 21 16 21Z" stroke="white" stroke-width="2" stroke-miterlimit="10"/>
                            <path d="M21.5 4.5H10.5C7.18629 4.5 4.5 7.18629 4.5 10.5V21.5C4.5 24.8137 7.18629 27.5 10.5 27.5H21.5C24.8137 27.5 27.5 24.8137 27.5 21.5V10.5C27.5 7.18629 24.8137 4.5 21.5 4.5Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M22.5 11C23.3284 11 24 10.3284 24 9.5C24 8.67157 23.3284 8 22.5 8C21.6716 8 21 8.67157 21 9.5C21 10.3284 21.6716 11 22.5 11Z" fill="white"/>
                        </svg>
                        <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g clip-path="url(#clip0_8_405)">
                            <path d="M16 28C22.6274 28 28 22.6274 28 16C28 9.37258 22.6274 4 16 4C9.37258 4 4 9.37258 4 16C4 22.6274 9.37258 28 16 28Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M21 11H19C18.2044 11 17.4413 11.3161 16.8787 11.8787C16.3161 12.4413 16 13.2044 16 14V28" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M12 18H20" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </g>
                            <defs>
                            <clipPath id="clip0_8_405">
                            <rect width="32" height="32" fill="white"/>
                            </clipPath>
                            </defs>
                        </svg>
                    </div>
                    
                    <p class="text-[11px] md:text-xs opacity-70 order-2 md:order-1 text-center md:text-left">
                        &copy; Copyright 2010-2021 - Can Çevik
                    </p>
                </div>
            </div>
        </footer>