<section class="bg-[#f8464c]">
    <div class="mx-auto px- py-8 md:py-16 md:space-y-16">
        <div class="flex flex-col text-white text-center items center">
            <h1 data-aos="fade-right" data-aos-delay="100" class="font-bold text-xl md:text-5xl">
                Test Yönetimiyle Neler Sağlıyoruz?
            </h1>

            <p data-aos="fade-right" data-aos-delay="400" class="text-xl mt-4">
                IoT Destekli Çözümler
            </p>
        </div>

        <div class="grid grid-cols-1 md:grid-cols-11 gap-2 py-4">

            <div data-aos="fade-right" data-aos-delay="100" class="text-white md:col-span-2 items-center justify-center flex flex-col">
                Yazılım Kalitesini <p> Arttırıyoruz </p>    
            </div>

            <div data-aos="fade-right" data-aos-delay="200" class="items-center flex justify-center">
                <svg class="hidden md:block" width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0_4_320)">
                <path d="M16 28C22.6274 28 28 22.6274 28 16C28 9.37258 22.6274 4 16 4C9.37258 4 4 9.37258 4 16C4 22.6274 9.37258 28 16 28Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M11 20L15 16L11 12" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M18 20L22 16L18 12" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </g>
                <defs>
                <clipPath id="clip0_4_320">
                <rect width="32" height="32" fill="white"/>
                </clipPath>
                </defs>
                </svg>

                <svg class="animate-bounce md:hidden" width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M4.5 18C4.5 25.4558 10.5442 31.5 18 31.5C25.4558 31.5 31.5 25.4558 31.5 18C31.5 10.5442 25.4558 4.5 18 4.5C10.5442 4.5 4.5 10.5442 4.5 18Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M13.5 12.375L18 16.875L22.5 12.375" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M13.5 20.25L18 24.75L22.5 20.25" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            </div>

            <div data-aos="fade-right" data-aos-delay="300" class="text-white md:col-span-2 justify-center items-center flex flex-col">
                Olası Hataları Önceden <p> Belirliyoruz </p>
            </div>

            <div data-aos="fade-right" data-aos-delay="400" class="items-center flex justify-center">
                <svg class="hidden md:block" width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0_4_320)">
                <path d="M16 28C22.6274 28 28 22.6274 28 16C28 9.37258 22.6274 4 16 4C9.37258 4 4 9.37258 4 16C4 22.6274 9.37258 28 16 28Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M11 20L15 16L11 12" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M18 20L22 16L18 12" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </g>
                <defs>
                <clipPath id="clip0_4_320">
                <rect width="32" height="32" fill="white"/>
                </clipPath>
                </defs>
                </svg>

                <svg class="animate-bounce md:hidden" width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M4.5 18C4.5 25.4558 10.5442 31.5 18 31.5C25.4558 31.5 31.5 25.4558 31.5 18C31.5 10.5442 25.4558 4.5 18 4.5C10.5442 4.5 4.5 10.5442 4.5 18Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M13.5 12.375L18 16.875L22.5 12.375" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M13.5 20.25L18 24.75L22.5 20.25" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            </div>

            <div data-aos="fade-right" data-aos-delay="500" class="text-white md:col-span-2 justify-center items-center flex flex-col ">
                Oluşabilecek Riskleri <p> Önlüyoruz </p>
            </div>

            <div data-aos="fade-right" data-aos-delay="600" class="items-center flex justify-center">
                <svg class="hidden md:block" width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0_4_320)">
                <path d="M16 28C22.6274 28 28 22.6274 28 16C28 9.37258 22.6274 4 16 4C9.37258 4 4 9.37258 4 16C4 22.6274 9.37258 28 16 28Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M11 20L15 16L11 12" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M18 20L22 16L18 12" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </g>
                <defs>
                <clipPath id="clip0_4_320">
                <rect width="32" height="32" fill="white"/>
                </clipPath>
                </defs>
                </svg>

                <svg class="animate-bounce md:hidden" width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M4.5 18C4.5 25.4558 10.5442 31.5 18 31.5C25.4558 31.5 31.5 25.4558 31.5 18C31.5 10.5442 25.4558 4.5 18 4.5C10.5442 4.5 4.5 10.5442 4.5 18Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M13.5 12.375L18 16.875L22.5 12.375" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M13.5 20.25L18 24.75L22.5 20.25" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            </div>

            <div data-aos="fade-right" data-aos-delay="700" class="text-white justify-center items-center flex md:col-span-2 flex-col md:justify-items-start">
                Zaman ve Maliyetten <p>Tasarruf Sağlıyoruz</p>
            </div>

        </div>

    </div>
</section>